.css-uk4jy3-MuiFormLabel-root-MuiInputLabel-root{
    overflow: visible!important;
}

.search_input{
    width: 15vw!important;
    margin-right: 50px!important;
}

.search_bt{
    margin-left: 10px
}